.home-page-header-background {
  background: linear-gradient(45deg, #8379DE 0%, #DE8379 50%, #79DE83 100%);
  background-size: 1000%, 1000%;
  animation: gradient-transpose 15s ease infinite;
}

.trivia-title {
	font-size: var(--mantine-h2-font-size);
	@media (min-width: $mantine-breakpoint-xs) {
    font-size: var(--mantine-h1-font-size);
  }
}

.sub-detail-item {
  padding-bottom: 1em;
  @media (min-width: $mantine-breakpoint-md) {
    padding-bottom: 0;
  }
}

@keyframes gradient-transpose {
	0% {
		background-position: 0% 50%;
	}
	25% {
		background-position: 50% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	75% {
		background-position: 50% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}